nav {
  background: white;
  color: #eee;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1.2px solid black;
  z-index: 1000;
}
nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  padding: 5px 15px;
  height: 5px;
  line-height: 5px;
  text-transform: uppercase;
}
nav ul li:hover {
  cursor: pointer;
  height: 2px;
  line-height: 2px;
}
.home{
  font-size: 30px;
  width: 100px;
  font-style: normal;
}
a{
  text-decoration: none;
  color: black;
}
