.checkout-product{
  display: flex;
  border-style: solid;
  width: 500px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.checkout-product div{
  padding: 0 10px 0 10px;
}
.checkout-product button{
  height: 20px;
}
.checkout-area{
  display: flex;
}
.container{
  margin: 100px auto;
}
.list{
  display: flex;
}
.shoppingCartItem{
  -webkit-animation-name: example;
  -webkit-animation-duration: 1s;
  position: relative;
  width: 200px;
  height: 280px;
  background: white;
  margin: 5px;
  border: 1.2px solid black;
  border-radius: 5px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.group-item-btn{
  align-items: center;
  justify-content: center;
  display: flex;
}
@-webkit-keyframes example {
  from {opacity:0;
  }
  to {bopacity:1;
  }
}

@keyframes example {
  from {opacity:0;}
  to {opacity:1;}
}
