.checkout-product{
  display: flex;
  border-style: solid;
  width: 500px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

}
.checkout-product div{
  padding: 0 10px 0 10px;
}
.checkout-product button{
  height: 20px;
}
.checkout-area{
  display: flex;
}
.container{
  margin: 100px auto;
}
.list{
  display: flex;
}
.shoppingCartItem{
  position: relative;
  width: 200px;
  height: 280px;
  background: white;
  margin: 5px;
  border: 1.2px solid black;
  border-radius: 5px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
