.footer-container{
  margin-top: 100px;
  margin: auto;
  color: black;
  /* background-color: gray; */
  font-size: 12px;
  height: 80px;
}
.footer-container div{
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
hr{
  width: 100%;
  border: 0.5px solid black;
}
